body {
  font-family: "Poppins", sans-serif;
  background-color: #ff5252;
}

#head {
  width: 100%;
  height: 150px;
  background-image: url('header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px black;
}

#head h1 {
  margin: 0;
  font-size: 48 px;
  color: black;
  letter-spacing: 2px;
}

#head h2 {
  margin: 0;
  font-size: 28 px;
  font-weight: normal;
}

section {
  color: #6a4b4b;
  font-family: sans-serif;
  border: 3px solid white;
  text-align: center;
  box-shadow: 0 4px 10px black;
  border-radius: 10px;
  padding: 15 px;
  width: 80%;
}

section h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

section p {
  font-size: 16px;
  margin-bottom: 15px;
}

section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

section {
  text-align: center;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  background-color: #fff;
  margin-top: 75px;
  box-shadow: 0px 10px 36px 16px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.game--title {
  padding-top: 20px;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cell {
  font-family: "Poppins", sans-serif;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 0 1px black;
  border: 1px solid black;
  cursor: pointer;
  line-height: 50px;
  font-size: 20px;
}

button {
  margin-bottom: 25px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #ff5252;
  cursor: pointer;
}

button:hover {
  transition: 0.25s;
  background-color: #fea2a7;
}

iframe {
  width: 360px;
  height: 640px;
  border: none;
  border-radius: 10px;
}

.taylorImg{

  width: 100%;
  max-width: 520px;
  border-radius: 10px;
  box-shadow: 0 4px 10px black;
}
